# Database
DATABASE_URL="mysql://root:password@localhost:3306/harmony_db"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre_secret_super_securise_chiffre"

# UploadThing (Gestion des images)
UPLOADTHING_SECRET="votre_uploadthing_secret"
UPLOADTHING_APP_ID="votre_uploadthing_app_id"
